<a href="https://colab.research.google.com/github/Akeerthipriya/BrainCraft/blob/master/3_0_Python_Crash_Course_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python Beginners Tutorial

### Let's start with Simple Variables

**Variables** can be considered a container that holds or stores a peice of **information** from numbers to text.

In [ ]:
# Storing a number
a = 14
print(a)

14

In [ ]:
# Or text
b = "This is some text"
print(b)

This is some text

### What can we do with variables?

In [ ]:
# Let's add them together
a = 14
c = 3
d = a + c
print(d)

17

In [ ]:
# Or
print(a+c)

17

In [ ]:
# Can we change variable values?
a = 18
print(a)

18

In [ ]:
# Equating or copying variables
e = a
print(e)

18

In [ ]:
# Types of Varaibles

# Integer variable
a = 1
print(a)
print(type(a))

# Float variable (Non integer digits)
a = 5.0
print(a)
print(type(a))

# Boolean variable (True or False)
a = True
print(a)
print(type(a))

# Text variable also known as string variables
a = "7" 
print(a)
print(type(a))

1
<class 'int'>
5.0
<class 'float'>
True
<class 'bool'>
7
<class 'str'>

In [ ]:
# Be careful with variable operations 

x = 15
y = 4
z = x + y
print(z)
print(type(z))

# string variables
x = "1"
y = "2"
z = x + y
print(z)
print(type(z))

19
<class 'int'>
12
<class 'str'>

In [ ]:
# Or dividing

a =

### Array or List Variables
**Arrays or Lists** are extremely useful in programming. Think of them as containers with different compartment, where each compartment stores another variable.

In [ ]:
# A Simple array or integers
a = [1,2,3]
print(a)

[1, 2, 3]

In [ ]:
# Storing variables of different types is possible
b =  ["Text", 4, 2.5]
print(b)

['Text', 4, 2.5]

In [ ]:
# Indexing Lists or accessing specific variables/locations in the list

# How to print the first element?
print(a[0])
print(a[1])
print(a[2])
# Note lists always start at index or position 0, so a list that holds 3 numbers can be indexed with 0,1 & 2

1
2
3

In [ ]:
# Storing more elements onto your list using *apend*

a.append(4)
print(a)

[1, 2, 3, 4]

In [ ]:
# Getting our list length
print(len(a))

4

In [ ]:
# Changing the value of an element in a list

a[3] = 5
print(a)

[1, 2, 3, 5]

In [ ]:
# Slicing lists is a technique used to get elements from, before or between different indices

print("All elelemts: ", a[:])
print("All elements from the 3rd position onward: ", a[2:])
print("All elements between the 2nd and 4th position: ", a[1:3])
print("All elements before the last postion", a[:-1])

# Very useful guide:

#a[start:stop]  # items start through stop-1
#a[start:]      # items start through the rest of the array
#a[:stop]       # items from the beginning through stop-1
#a[:]           # a copy of the whole array

All elelemts:  [1, 2, 3, 5]
All elements from the 3rd position onward:  [3, 5]
All elements between the 2nd and 4th position:  [2, 3]
All elements before the last postion [1, 2, 3]

## Dictionaries, the other very useful data type
**Dictionaries** are python objects that store **key:value** pairs of data.

In [ ]:
# Creating a dictionary
country_info = {"name": "Japan",
        "capital": "Tokyo"}

print(country_info)
print(country_info["name"])
print(country_info["capital"])

{'name': 'Japan', 'capital': 'Tokyo'}
Japan
Tokyo

In [ ]:
# We can store multiple values and easily add information to our dictionary

country_info['population'] = '126.8M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '126.8M'}

In [ ]:
# We can also change values easily

country_info['population'] = '100M'
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M'}

In [ ]:
# Values can be of any data type

country_info['regions'] = ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa']}

In [ ]:
# Values can be of any data type - Even Dictionaries, these are called nested dictionaries

country_info['health'] = {"life_expectancy": 84.1, "birth_rate": 1.44}
print(country_info)

{'name': 'Japan', 'capital': 'Tokyo', 'population': '100M', 'regions': ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], 'health': {'life_expectancy': 84.1, 'birth_rate': 1.44}}

In [ ]:
# Accessing data in our nested dictionary

country_info['health']['life_expectancy']

84.1

In [ ]:
country_info.values()

dict_values(['Japan', 'Tokyo', '100M', ['Hokkaido', 'Tohoku', 'Kanto', 'Chubu', 'Kinki', 'Chugoku', 'Shikoku', 'Kyushu-Okinawa'], {'life_expectancy': 84.1, 'birth_rate': 1.44}])

# Conditional Statements - If & Else

If statements will prove invaluable in programming when handling siutations where decisions need to be made

In [ ]:
# Using the if statement

x = 19

if x < 10:
    print("less than 10")
else:
  print("over 10")

over 10

In [ ]:
x = 29

if x < 10:
    print("less than 10")
elif x > 10 and x <= 19:
    print("greater than zero but less than 10")
else:
    print("over 20")

over 20

In [ ]:
# Using booleans of conditional statements

a = True
if a:
  print("statement was true")

statement was true

# Loops

Loops are another invaluable tool in programming, let's look at a few ways we can implement loops in Python

In [ ]:
# Using the range function

print(list(range(5)))

# Or

print(list(range(1,5)))

[0, 1, 2, 3, 4]
[1, 2, 3, 4]

In [ ]:
for i in range(0,5):
  print(i)

0
1
2
3
4

In [ ]:
# Python allows us to directly loop through items in a list

items = ['a','b', 'c', 'd']
for item in items:
  print(item)

a
b
c
d

In [ ]:
# Incrementing variables in loops and storing them in a list

x = 0
collecting_values_of_x = []

items = ['a','b', 'c', 'd']
for item in items:
  x += 1
  print(x, item)
  collecting_values_of_x.append(x)

print(collecting_values_of_x)

1 a
2 b
3 c
4 d
[1, 2, 3, 4]

In [ ]:
# While loops

x = 0
while x < 5:
    x += 1
    print(x)

1
2
3
4
5

In [ ]:
# While loops

x = 0
while True:
    if x == 5:
      break
    x += 1
    print(x)

1
2
3
4
5

# Functions

Functions are extremely useful in creating peices of code you want to call or use several times in our program.

In [ ]:
# Simple function to return area of a circle

def areaCircle(radius):
  area = 3.14 * (radius**2)
  return area

In [ ]:
areaCircle(2)

12.56

In [ ]:
# More complicated functions

def volumeCylinder(radius, height):
  volume = 3.14 * radius**2 * height
  return volume

In [ ]:
volumeCylinder(radius = 5, height = 6)

471.0

In [ ]:
# Default arguements

def areaCircle(radius):
  area = 3.14 * (radius**2)
  return area